.button {
	width: 100%;
	max-width: 220px;
	font-family: $ff;
	font-weight: $fw-bold;
	padding: 8px 30px;
	font-size: 20px;
	border: 0;
	border-radius: $border;
	background: $main;
	color: $white;
	cursor: pointer;
	transition: background ease $tr;

	&:hover {
		background: $accent;
	}

	@media all and (min-width: $md) {
		font-size: 15px;
	}

	@media all and (min-width: $lg) {
		font-size: 20px;
	}
}

.burger-button {
	display: block;
	width: 40px;
	height: 30px;
	position: relative;
	cursor: pointer;
	transition: opacity ease $tr;

	@media all and (min-width: $md) {
		display: none;
	}

	&:hover {
		opacity: $op;
	}

	span {
		position: absolute;
		top: 3px;
		left: 0;
		display: block;
		width: 100%;
		height: 4px;
		background: $main;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 10px;
			left: 0;
			width: 70%;
			height: 4px;
			background: $main;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 20px;
			left: 0;
			width: 100%;
			height: 4px;
			background: $main;
		}
	}

	&.opened {
		span {
			transform: rotate(45deg);
			top: 15px;
			transition: transform ease $tr;

			&::before {
				content: "";
				display: none;
			}

			&::after {
				width: 100%;
				transform: rotate(-90deg);
				top: 0;
				transition: transform ease $tr;
			}
		}
	}
}