h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh-title;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	color: $white;

	&::selection {
		background: $accent;
		color: $white;
	}
}

h1, .h1 {
	font-family: $ff;
	font-weight: $fw-bold;
	font-size: 32px;
	margin-bottom: 40px;

	&::before {
		content: "";
		display: block;
		background: $accent;
		width: 100%;
	}

	@media all and (min-width: $lg) {
		font-size: 60px;
	}
}

h2, .h2 {
	font-size: 24px;

	@media all and (min-width: $lg) {
		font-size: 40px;
		margin-bottom: 30px;
	}
}

h3, .h3 {
	font-size: $fs-md;
	margin-bottom: 25px;
}

a {
	display: inline-block;
	text-decoration: none;
	transition: color ease-out $tr;
	color: $dark;

	&:hover {
		color: $main;
	}
}

p {
	margin: 0;

	&::selection {
		background: $accent;
		color: $white;
	}
}

div, span {
	&::selection {
		background: $accent;
		color: $white;
	}
}

b, strong {
	font-weight: $fw-bold
}