// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1200px;

// Container padding.
$container-padding: 24px;

// Font families.
$ff: 'Bai Jamjuree', sans-serif;

// Font sizes.
$fs-xs	: 14px;
$fs-sm	: 20px;
$fs-md	: 24px;
$fs-lg	: 30px;
$fs-xl	: 40px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;

// Line heights.
$lh			: 1.5;
$lh-title	: 1.3;

// Colors.
$white	: #FFFFFF;
$black	: #000000;
$accent : #64205f;
$main   : #cc9d36;
$dark   : #2E4057;
$light  : #aee4ee;
$foot   : #f16d44;

// Others.
$tr    : 0.35s;
$op    : 0.75;
$border: 10px;